
/* my font */
.inter-normal {
    font-family: "Inter", sans-serif;
}
.playwrite-be-vlg-normal {
    font-family: "Playwrite BE VLG", cursive;

}
/* my shared style  */
.btn-primary {
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin-right: 10px;
    /* margin-bottom: 92px; */

}
/* .my-color {
} */
.bg-color {
    background-color: black;
}
.text-center {
    text-align: center;
}
/* .go-down {
}
.go-up {
} */
.display-flex {
    display: flex;
}
.section-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;

}
.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.column {
    flex-direction: column;
}
.bg-size {
    max-width: 1440px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}
/* nav style */

.nav-item{
    list-style: none;
    margin-right: 2.9rem;
}
.nav-links{
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 120%;
}
    .navbar {
        justify-content: space-between;
        align-items: center;
}
.brand {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
}
/* .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
} */

/* banner style */

.banner {
    display: flex;
    margin: 0 190px 0 215px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.banner-content {
    max-width:  30rem;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    margin-left: 0px;
    /* margin-left: 90px; */
}
.banner-title {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 800;
    line-height: 120%;
}

.btn-normal {
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    border: 1px solid white;
    /* margin-bottom: 92px; */
}
.banner-img {
    width: 100%;
}
/* .banner-img-content {
    margin-right:200px;
} */

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.home-edit {
    background: rgb(230, 83, 60);
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
    
}

/* habits style */
.habits-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.habit-bar {
    margin-bottom: 10px;
}

.habit-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}
.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

.habit-img {
    border-radius: 90px;
}

/* run style */

.run-content {
    /* width: 1260px; */
    height: 350px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-between;
    margin-bottom: 20px;

}
.run-img {
    width: 100%;
    height: 312px;
    border-radius: 20px;
    margin: 20px 60px 0px 0px ;
    margin-left: -50px;
}
.run-one {
    margin-left: 50px;
    max-width:450px ;
}
 /* team style */

.team-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    text-align: center;

}

.team-content {
    margin-bottom: 50px;
}

 .team-pic {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
 }

 .t-overlay {
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;

 }
 
 /* .new-title {
    margin: 0;
    font-size: 1.5em;
    color: white;
 }
 .new-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 500;
 } */



/* responsive for small device*/

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .banner,
    .run-content {
        flex-direction: column;
    }
    .banner{
        margin :10px;
    }
    .btn-primary{
        padding: 10px 80px 10px 80px;
    }
    .btn-normal {
        padding: 10px 80px 10px 80px;
        margin-top: 5px;
    }
    /* .banner-img {
        width: 100%;
    } */
    .nav-item {
        margin-bottom: 8px;
    }
    .banner-title {
        font-size: 36px;
        margin-bottom: 5px;
    }
    .banner-description {
        font-size: 15px;
        margin-bottom: 5px;
    }
    /* .banner {
        margin-left:0px;
    } */

    .habits-content, .team-container {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
    .run-img {
        margin-left: 0px;
        margin-top: 60px;
    }
    .section-title {
        font-size:2rem ;
    }
    .section-description {
        font-size: 1rem;
    }

    .team-content {
        margin-bottom: 150px;
    }

    
}

/*  responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner {
        flex-direction: column;
    }
    .btn-primary{
        padding: 10px 60px 10px 60px;
    }
    .btn-normal {
        padding: 10px 60px 10px 60px;
    }
    /* .banner-title {
        font-size: 45px;
        margin-bottom: 5px;
    } */
    .banner-content {
        margin-bottom: 10px;
    }
    .habits-content, .team-container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }
    .section-title {
        font-size: 2rem;
    }
}
/* responsive for large device */

@media screen and (min-width:992px) and (max-width:1440px) {
    
}